.nav {
  justify-content: space-between;
  align-items: center;
  padding: 2em 10%;
  box-shadow: 10px 10px 100px black;
  position: sticky;
}

.logo {
  color: var(--color-cta);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-header);
  letter-spacing: -1px;
}
